:root {
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  --link-color: #646cff;
  --link-hover: #535bf2;
  --button-bg: #1a1a1a;
}

[data-theme="light"] {
  --text-color: #213547;
  --background-color: #ffffff;
  --link-color: #646cff;
  --link-hover: #747bff;
  --button-bg: #f9f9f9;
}

#root {
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card { 
  padding: 2em 1em; 
}

.read-the-docs {
  color: #888;
}

* {
    box-sizing: border-box;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    width: 100vw;
    max-width: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
}

.imageStyle {
  width: 12vw;
  max-width: 60px;
  height: auto;
  cursor: pointer;
  margin: 4px;
}

.sidebar {
  width: 90vw;
  max-width: 410px;
  min-width: 250px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: sidebarFadeIn 0.7s ease;
}

@keyframes sidebarFadeIn {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.sidebar-close {
  text-align: right;
  padding: 10px;
  background: #f4f4f4;
  cursor: pointer;
  font-weight: bold;
}

.sidebar iframe {
  width: 100%;
  height: calc(100% - 40px);
  border: none;
}

.close-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.theme-toggle {
  font-size: 1.5rem;
  background: var(--button-bg);
  border: none;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.theme-toggle:hover {
  background: var(--link-hover);
}
